CMPC/src/caf/war/CMPC/wsclient/cmpc/proceso/servicios/crearimportacion_wsd/crearImportacion_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="crearImportacion_WSD" targetNamespace="http://192.168.255.138/CMPC.proceso.servicios" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.255.138/CMPC.proceso.servicios" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.255.138/CMPC.proceso.servicios" xmlns:tns="http://192.168.255.138/CMPC.proceso.servicios" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="crearImportacion" type="tns:crearImportacion"/>
          <xsd:element name="crearImportacionResponse" type="tns:crearImportacionResponse"/>
          <xsd:complexType name="crearImportacion">
            <xsd:sequence>
              <xsd:element name="idProyecto" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="crearImportacionResponse">
            <xsd:sequence>
              <xsd:element name="idImportacion" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearImportacion_WSD_PortType_crearImportacionResponse">
    <wsdl:part name="parameters" element="tns:crearImportacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearImportacion_WSD_PortType_crearImportacion">
    <wsdl:part name="parameters" element="tns:crearImportacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="crearImportacion_WSD_PortType">
    <wsdl:operation name="crearImportacion">
      <wsdl:input message="tns:crearImportacion_WSD_PortType_crearImportacion">
    </wsdl:input>
      <wsdl:output message="tns:crearImportacion_WSD_PortType_crearImportacionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMPC_proceso_servicios_crearImportacion_WSD_Binder" type="tns:crearImportacion_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearImportacion">
      <soap:operation soapAction="CMPC_proceso_servicios_crearImportacion_WSD_Binder_crearImportacion" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMPC.proceso.servicios.crearImportacion_WSD">
    <wsdl:port name="CMPC_proceso_servicios_crearImportacion_WSD_Port" binding="tns:CMPC_proceso_servicios_crearImportacion_WSD_Binder">
      <soap:address location="http://192.168.255.138:5555/ws/CMPC.proceso.servicios.crearImportacion_WSD/CMPC_proceso_servicios_crearImportacion_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
