fcmpcPortales/src/caf/war/fcmpcPortales/wsclient/sfcmpc/services/generamlogico_1_wsd/generaMLogico_1_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="generaMLogico_1_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="generaMLogico_1" type="tns:generaMLogico_1"/>
          <xsd:element name="generaMLogico_1Response" type="tns:generaMLogico_1Response"/>
          <xsd:complexType name="generaMLogico_1">
            <xsd:sequence>
              <xsd:element name="marcoLogicoV1" nillable="true" type="tns:marcoLogicoV1"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="marcoLogicoV1">
            <xsd:sequence>
              <xsd:element name="nombrePro" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaDesde" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fechaHasta" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="encargado" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="planta" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="comuna" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="profesionales" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="establecimientos" nillable="true" type="xsd:string"/>
              <xsd:element name="ObjetivoGeneral" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" name="objetivo" nillable="true" type="tns:objetivo"/>
              <xsd:element maxOccurs="unbounded" name="objetivosEspecificos" nillable="true" type="tns:objetivosEspecificos"/>
              <xsd:element minOccurs="0" name="aprobadoML" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="observacionesML" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivo">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="oindicador" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="omv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ovalor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="olineaBase" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="oano1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="oano2" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="osupuestos" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="objetivosEspecificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="componente" nillable="true" type="xsd:string"/>
              <xsd:element name="nombreObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element name="descripcionObjetivo" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="especificos" nillable="true" type="tns:especificos"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="estrategia" nillable="true" type="tns:estrategia"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="especificos">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="kindicador" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="mv" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="lineaBase" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ano2" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="rsupuestos" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="estrategia">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="tipoActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nombreActividad" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="tipoParticipante" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="nivel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="contenidos" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="ciclo" nillable="true" type="tns:ciclo"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="objetivosXactividad" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ciclo">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="sesiones" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cantidadHoras" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="generaMLogico_1Response">
            <xsd:sequence>
              <xsd:element name="salida" nillable="true" type="tns:salida"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="salida">
            <xsd:sequence>
              <xsd:element name="msg" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="generaMLogico_1_WSD_PortType_generaMLogico_1Response">
    <wsdl:part name="parameters" element="tns:generaMLogico_1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generaMLogico_1_WSD_PortType_generaMLogico_1">
    <wsdl:part name="parameters" element="tns:generaMLogico_1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="generaMLogico_1_WSD_PortType">
    <wsdl:operation name="generaMLogico_1">
      <wsdl:input message="tns:generaMLogico_1_WSD_PortType_generaMLogico_1">
    </wsdl:input>
      <wsdl:output message="tns:generaMLogico_1_WSD_PortType_generaMLogico_1Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_generaMLogico_1_WSD_Binder" type="tns:generaMLogico_1_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generaMLogico_1">
      <soap:operation soapAction="sFCMPC_services_generaMLogico_1_WSD_Binder_generaMLogico_1" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.generaMLogico_1_WSD">
    <wsdl:port name="sFCMPC_services_generaMLogico_1_WSD_Port" binding="tns:sFCMPC_services_generaMLogico_1_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.generaMLogico_1_WSD/sFCMPC_services_generaMLogico_1_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
