CMPC/src/caf/war/CMPC/wsclient/cmpc/proceso/servicios/uploadplanilla_wsd/uploadPlanilla_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="uploadPlanilla_WSD" targetNamespace="http://wmtest.lasegunda.com.ar/CMPC.proceso.servicios" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wmtest.lasegunda.com.ar/CMPC.proceso.servicios" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wmtest.lasegunda.com.ar/CMPC.proceso.servicios" xmlns:tns="http://wmtest.lasegunda.com.ar/CMPC.proceso.servicios" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="uploadPlanilla" type="tns:uploadPlanilla"/>
          <xsd:element name="uploadPlanillaResponse" type="tns:uploadPlanillaResponse"/>
          <xsd:complexType name="uploadPlanilla">
            <xsd:sequence>
              <xsd:element name="nombreArchivo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="uploadPlanillaResponse">
            <xsd:sequence>
              <xsd:element name="resultadoLectura" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="uploadPlanilla_WSD_PortType_uploadPlanilla">
    <wsdl:part name="parameters" element="tns:uploadPlanilla">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadPlanilla_WSD_PortType_uploadPlanillaResponse">
    <wsdl:part name="parameters" element="tns:uploadPlanillaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="uploadPlanilla_WSD_PortType">
    <wsdl:operation name="uploadPlanilla">
      <wsdl:input message="tns:uploadPlanilla_WSD_PortType_uploadPlanilla">
    </wsdl:input>
      <wsdl:output message="tns:uploadPlanilla_WSD_PortType_uploadPlanillaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMPC_proceso_servicios_uploadPlanilla_WSD_Binder" type="tns:uploadPlanilla_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadPlanilla">
      <soap:operation soapAction="CMPC_proceso_servicios_uploadPlanilla_WSD_Binder_uploadPlanilla" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMPC.proceso.servicios.uploadPlanilla_WSD">
    <wsdl:port name="CMPC_proceso_servicios_uploadPlanilla_WSD_Port" binding="tns:CMPC_proceso_servicios_uploadPlanilla_WSD_Binder">
      <soap:address location="http://wmtest.lasegunda.com.ar:5555/ws/CMPC.proceso.servicios.uploadPlanilla_WSD/CMPC_proceso_servicios_uploadPlanilla_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
