fcmpcPortales/src/caf/war/fcmpcPortales/wsclient/sfcmpc/services/leetablamodelos_wsd/leeTablaModelos_WSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="leeTablaModelos_WSD" targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost.localdomain/sFCMPC.services" xmlns:tns="http://localhost.localdomain/sFCMPC.services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="leeTablaModelos" type="tns:leeTablaModelos"/>
          <xsd:element name="leeTablaModelosResponse" type="tns:leeTablaModelosResponse"/>
          <xsd:complexType name="leeTablaModelos">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="leeTablaModelosResponse">
            <xsd:sequence>
              <xsd:element name="modelos" nillable="true" type="tns:modelos"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="modelos">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="solucion" nillable="true" type="tns:solucion"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="solucion">
            <xsd:sequence>
              <xsd:element name="campo" nillable="true" type="xsd:string"/>
              <xsd:element name="valor" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="leeTablaModelos_WSD_PortType_leeTablaModelos">
    <wsdl:part name="parameters" element="tns:leeTablaModelos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="leeTablaModelos_WSD_PortType_leeTablaModelosResponse">
    <wsdl:part name="parameters" element="tns:leeTablaModelosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="leeTablaModelos_WSD_PortType">
    <wsdl:operation name="leeTablaModelos">
      <wsdl:input message="tns:leeTablaModelos_WSD_PortType_leeTablaModelos">
    </wsdl:input>
      <wsdl:output message="tns:leeTablaModelos_WSD_PortType_leeTablaModelosResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sFCMPC_services_leeTablaModelos_WSD_Binder" type="tns:leeTablaModelos_WSD_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="leeTablaModelos">
      <soap:operation soapAction="sFCMPC_services_leeTablaModelos_WSD_Binder_leeTablaModelos" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sFCMPC.services.leeTablaModelos_WSD">
    <wsdl:port name="sFCMPC_services_leeTablaModelos_WSD_Port" binding="tns:sFCMPC_services_leeTablaModelos_WSD_Binder">
      <soap:address location="http://localhost.localdomain:5555/ws/sFCMPC.services.leeTablaModelos_WSD/sFCMPC_services_leeTablaModelos_WSD_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
